<h1>Welcome to <%= @classroom.name %></h1>

<%= react_component 'Toolbar', {}, :div %>
<%= react_component 'CodeEditor', {}, :div %>
<%= react_component 'OutputDisplay', {}, :div %>
<%= react_component 'StatusBar', {}, :div %>