<!DOCTYPE html>
<html>
  <head>
    <title>Classroom6l</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= Gon::Base.render_data %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body id="<%= controller_name + '_' + action_name %>">
    <%= yield %>
  </body>
</html>
